
#imgPlay {
	margin: 0px auto; overflow: hidden; width: 100%; zoom: 1; position: relative; height: 300px
}
#imgPlay .imgs IMG {
	 width: 100%; 
}
#imgPlay .imgs LI {
	float: left; position: relative;
}
#imgPlay .imgs {
	width: 100%
}
#imgPlay .btn {
	right: 12px; overflow: hidden; width: 112px; bottom: 12px; text-indent: -9999px; position: absolute; height: 29px;
}
#imgPlay .btn A {
	background: url(../images/bg.png) no-repeat;background-position: 0px 0px; display: block; width: 112px; height: 29px;
}
#imgPlay .btn A:hover {
	background: url(../images/bg.png) no-repeat;background-position: 0px -30px;
}
#imgPlay .prev {
	background:url(../images/prev.png) no-repeat 0 0; left: 1px; width: 46px; cursor: pointer; text-indent: -9999px; position: absolute; top: 110px; height: 81px
}
#imgPlay .next {
	background:url(../images/next.png) no-repeat 0 0; left: 1px; width: 46px; cursor: pointer; text-indent: -9999px; position: absolute; top: 110px; height: 81px
}
#imgPlay .next {
	background-position: right 0px; right: 1px; left: auto
}
#imgPlay .num {
	display: inline; left: 400px; position: absolute; top: 5px; height: 19px
}
#imgPlay .num SPAN {
	display: inline-block; background: url(../images/imgplayer.png) no-repeat -19px -83px; margin: 0px 2px; overflow: hidden; width: 14px; cursor: pointer; line-height: 0; height: 13px
}
#imgPlay .num SPAN.on {
	background-position: 1px -83px
}
#imgPlay .num .lc {
	padding-right: 0px; padding-left: 0px; background: url(../images/lc.png) no-repeat; float: left; padding-bottom: 0px; width: 13px; padding-top: 3px; height: 16px
}
#imgPlay .num .mc {
	padding-right: 0px; padding-left: 0px; background: url(../images/lc.png) no-repeat; float: left; padding-bottom: 0px; width: 13px; padding-top: 3px; height: 16px
}
#imgPlay .num .rc {
	padding-right: 0px; padding-left: 0px; background: url(../images/lc.png) no-repeat; float: left; padding-bottom: 0px; width: 13px; padding-top: 3px; height: 16px
}
#imgPlay .num .mc {
	background: url(../images/mc.png) repeat-x
}
#imgPlay .num .rc {
	background: url(../images/rc.png) no-repeat
}
#imgPlay #numInner {
	padding-right: 0px; padding-left: 0px; background: none transparent scroll repeat 0% 0%; padding-bottom: 0px; padding-top: 3px; position: absolute; top: 5px; text-align: center
}
