
/*伟杰*/
.content-margin{
	margin: 0 10px 10px;
}
.msg-info{
	height:40px;
	background:rgb(240,165,37);
	color:#fff;
	text-align:center;
	line-height:40px;
	font-size:16px;
}
.bro{
	margin: 0 10px 10px;
}
.bro b{
	font-size: 18px;
	color: rgb(224,79,17);
}
.sec-white{
	1background: #fff;
	padding: 10px;
}
/*对话框样式*/
.bubble { margin:0px auto;}
.bubble-img{
    margin-bottom: 20px;
}
.bubble-img img{
    width: 100%;
}
.dia {
    padding-left:50px;
    position:relative;
}
.triangle {
    position:absolute;
    top:20px;
    margin-top:-8px;
    left:42px;
    display:block;
    width:0;
    height:0;
    overflow:hidden;
    line-height:0;
    font-size:0;
    border-bottom:8px solid #ececec;
    border-top:8px solid #ececec;
    border-left:none;
    border-right:8px solid #3079ED;
}
 
.dia .article {
    float:left;
    color:#FFF;
    display:inline-block;
    *display:inline; zoom:1;
    padding:5px 10px;
    min-width: 200px;
    border:1px solid #3079ED;
    background:#eee;
    border-radius:5px;
    background-color: #4D90FE;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#4D90FE),to(#4787ED));
    background-image:-webkit-linear-gradient(top,#4D90FE,#4787ED);
    background-image:-moz-linear-gradient(center top , #4D90FE, #4787ED);
    background-image:linear-gradient(top,#4D90FE,#4787ED);
}
 .dialog-r .article{
 	border:1px solid #5cb85c;
    background:#eee;
    border-radius:5px;
    background-color: #5cb85c;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#5cb85c),to(#4cae4c));
    background-image:-webkit-linear-gradient(top,#5cb85c,#4cae4c);
    background-image:-moz-linear-gradient(center top , #5cb85c, #4cae4c);
    background-image:linear-gradient(top,#5cb85c,#4cae4c);
 }
.fr { padding-left:0px; padding-right:50px; }
 
.fr .triangle {
    left:auto;
    right:42px;
    border-bottom:8px solid #ececec;
    border-top:8px solid #ececec;
    border-right:none;
    border-left:8px solid #4cae4c;
}
 
.fr .article {
    float:right;
}
.dialog-l .dia-img{
	float: left;
	width: 40px;
}
.dialog-r .dia-img{
	float: right;
	width: 40px;
}
.dialog-l,.dialog-r{
    margin-bottom: 20px;
}
.dia .zan{
	float: right;
	text-align: right;
}
.zan img{
	width: 24px;
	height: 24px;
}
/**/
.xianhua{
	text-align: right;
	float: right;
}
.article .xianhua a{
	color: #fff;
}
.intxt{
    padding:8px;
    background: #fff;
}





