@charset "utf-8";
h1, h2, h3, h4, h5, h6,.navbar-brand {
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "����B8B\4F53", simsun, sans-serif;
}
.loading{
	width: 16px !important;
	height: 16px;
	margin:5px 0 0 2px;
}
a:hover{
	text-decoration: none;
}
.font_black
{
    color: black!important;
    font-size: 14px!important;
}
a.white { color: white;text-decoration:none}
a.white:visited { color: white;text-decoration:none}
a.white:active { color: white;text-decoration: NONE}
a.white:hover { color: #eee;text-decoration:none}

a.orange{color:#FF8E1B;text-decoration:none}
a.orange:visited { color: #FF8E1B;text-decoration:none}
a.orange:active { color: #FF8E1B;text-decoration: NONE}
a.orange:hover { color: green;text-decoration:none}

/*��̨���������̶�������߶�*/
h4{
}
ul,ol{
	margin: 0;
	padding: 0;
}

li{
	display: list-item;
	list-style-type:none;
}


section{margin-bottom: 10px;}
.main-bg{
	background: rgb(244,241,226);
	background-size: contain;
}
.class-bg{
	background: rgb(255,253,238) url(/images/class-bg.jpg) no-repeat top center;
	background-size: 100%;

}
.luckdisc-bg{
	background: rgb(194,15,16) url(/images/luckdisc-bg.jpg) no-repeat center top ;
 	background-size: 100%;
}
.luckegg-bg{
	overflow-x: hidden;
	background: rgb(194,15,16) url(/images/luckegg-bg.jpg) no-repeat center top;
 	background-size: 100%;
}
.classmate-bg{
	background: rgb(255,253,238) url(/images/classmate-bg.jpg) no-repeat center top;
	background-size: 100%;
}
.course-bg{
	background: rgb(255,253,238) url(/images/course-bg.jpg) no-repeat center top;
	background-size: 100%;
}
.oh-bg{
	background: rgb(255,255,255) url(/images/oh.jpg) no-repeat center;
	background-size: 100%;
}
.me-bg{
	background: url(../images/me-bg.jpg) repeat 0 0;
	background-size: cover;
}
.content-wp{
	padding: 0 15px;
}
#wrap > .content-box {
  padding: 20px 0px 0;
}

#wrap > .content-box-text {
  padding: 40px 0px 0;
}


.content-box .form-horizontal .form-group{
	margin-left:0;
	margin-right:0;
}
.content .form-group{
	margin-left:0;
	margin-right:0;
}
.loading-s{
	width: 16px !important;
	height: 16px;
	margin:5px 0 0 2px;
}
.top-bar > .col-xs-6 > .btn{
	margin-bottom: 5px;
}
/*bootstrap���
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
*/
.suc-bg{
	background:rgb(240,53,72) url(/images/acts/gxn-bg.jpg) center top no-repeat;
	background-size:contain;
}

.suc-blank{
	height: 370px;
}
.suc-btns{
	text-align: center;
	margin: 0 auto;
}
.suc-btns img{
	display: block;
	width: 80%;
	max-width: 400px;
	margin: 0 auto;
}
.yzdd-bg{
	background:rgb(69,203,232) url(/images/acts/yzdd-bg.jpg) center top no-repeat;
	background-size:contain;
}
.yzdd-blank{
	min-height: 325px;
    height:auto;
}
.ct-bg{
	background:rgb(69,203,232) url(/images/acts/bg2.png) center top no-repeat;
	background-size:contain;
}
.ct-p{
	font-size: 16px;
	margin: 20px;
	padding: 20px;
	background: rgba(255,255,255,0.7);
}
.bg-primary{background-color:#428bca}
.bg-success{background-color:#5cb85c}
.bg-info{background-color:#5bc0de}
.bg-green{background-color: #4cae4c}
.bg-warning{background-color:#f0ad4e}
.bg-danger{background-color:#d9534f}
/*���»���*/
.bgb-primary{background-color:#428bca;border-bottom:2px solid #357ebd}
.bgb-success{background-color:#5cb85c;border-bottom:2px solid #4cae4c}
.bgb-info{background-color:#5bc0de;border-bottom:2px solid #46b8da}
.bgb-green{background-color: #4cae4c;border-bottom:2px solid  #4cae4c}
.bgb-warning{background-color:#f0ad4e;border-bottom:2px solid #eea236}
.bgb-danger{background-color:#d9534f;border-bottom:2px solid #d43f3a}
.testbg{
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7FFF0000', endColorstr='#7FFF0000');
	background:rgba(255,0,0,0.5);
}
.testbg-b{
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7FFF0000');
	background:rgba(0,0,0,0.5);
}
.table-header{color: #fff;}
.gap-s{
	margin-top: 20px;
}
.gap-s>h4{
	margin-top: 0;
}
.btn-send{
	
}
.obo-r a{
	margin-left: 10px;
}
.obo a {
	margin-right: 5px
}
.obo-l a {
	margin-right: 15px
}
.obo-gap span{margin-right: 10px;}
.obo-gap-l a {
	margin-right: 15px
}
.mod{
	margin-bottom: 30px;
}
.mod-s{
	margin-bottom: 20px;
}
.mod-xs{
	margin-bottom: 10px;
}

.mod-xxs{
	margin-bottom: 5px;
}

.mod-l{
	margin-bottom: 40px;
}
.mod-xl{
	margin-bottom: 50px;
}
.mr-xs{
	margin-right: 5px;
}
.mr-sm{
	margin-right: 10px;
}
.mr-md{
	margin-right: 15px;
}
.mg-tb-none{margin-top: 0;margin-bottom: 0;}
.mg-none{margin: 0}
.sp-date{
	border-bottom: 1px solid #ddd;
	margin-bottom:20px;
	text-align: center;
}
.sp-date p{
	margin:0 auto;
	display: block;
	background-color:#41BBDA;
	color: #fff;
	width: 100px;
	border-radius: 4px;
	margin-bottom: -0.7em;
}
.sp-solid{
	padding-bottom: 5px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
}
.sp-solid-xl{
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
}
.sp-solid-top{
	padding-top: 10px;
	margin-top: 5px;
	border-top: 1px solid #ddd;
}
.sp-dashed{
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom: 1px dashed #ddd;
}
.sp-dashed-s{
	margin-bottom: 6px;
	padding-bottom: 6px;
	border-bottom: 1px dashed #ddd;
}
.sb-both{
	padding: 5px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	/*margin-bottom: 20px;*/   /*����ȸĶ� 2014-06-18,���в��׿��Ը�ԭ*/
}
.sb-both img{
	width: auto;
}
.clause {
	margin: 0;
	padding: 5px 0 0 0;
}
.report{cursor: pointer; color: #666; padding: 0 5px;}
.mb-none{margin-bottom: 0}
.sect-header{
	padding-bottom: 9px;
	margin: 10px 0 20px 0;
	border-bottom: 1px solid #eeeeee;
}
.sp-header {
	padding-bottom: 9px;
	margin: 10px 0 20px 0;
	border-bottom: 1px solid #eeeeee;
}
.modal-list-class{
	padding-bottom: 6px;
	margin-bottom: 6px;
	border-bottom: 1px solid #ddd;
}
.modal-list-class span{
	display: inline-block;
	padding: 0 5px;
}
.textoverflow{
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: inline-block;
	width: 100%;
}
/*top-bar*/
.top-bar{
	height: 40px;
	line-height: 40px;
	background: #357ebd;
	color: #fff;r
	margin-bottom: 10px;
}
.top-bar a:hover{
	text-decoration: none;
}
.top-bar-box{
	padding: 5px 0;
	margin-bottom: 10px;
}
.top-bar .page-index li a{
	color: #fff;
}
.top-bar .page-index li{
	display: inline-block;
}
.top-bar .page-index li+li:before {
	padding: 0 5px;
	content: "/\00a0";
}
.btn-top-bar,.top-bar-btn{
	margin-bottom: 5px;
}
/*ͼ���б�*/
.pop-list li a{
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
}
.pop-list li:last-child a{
	border-bottom: none;
}
.list-lined > li{
	list-style: none;
	list-style-type: none;
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
}
.list-card >li{
	list-style: none;
	list-style-type: none;
	background: #fff;
	margin-bottom: 15px;
	border-radius: 4px;
}
.list-card-group{
	margin: 0 0 15px;
	padding: 0;
	list-style: none;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 2px rgba(0,0,0,0.2)
}
.list-card-group li{
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
.list-card-group li .main-item{
	position: relative;
}
.list-card-group li .main-item img{
	width: 100%;
}
.list-card-group li .main-item p{
	position: absolute;
	display: block;
	margin: 0;
	padding: 6px;
	width: 100%;
	bottom: 0;
	left: 0;
	color: #fff;
	background: rgba(0,0,0,0.5);
}
.list-card-group .sub-item .sub-item-img{
	float: right;
	width: 60px;
	height: 60px;
	margin-left: 15px;
}
.list-card-group .sub-item{
	color: #333;
	display: table;
	width: 100%;
}
.list-card-group .sub-item .sub-item-tit{
	display: table-cell;
	vertical-align: middle;
}

.pic-flow >li{
	list-style: none;
	list-style-type: none;
	padding-bottom:15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ddd;
}
.pic-flow .media-intro p{
	margin-bottom: 5px;
}
.col-4{
	list-style: none;
	list-style-type: none;
	margin: 10px 0;
}
.col-4 li{
	float: left;
	width: 76px;
	height: 76px;
	margin:0 5px 5px 0;
}
.col-4 li img{
	width: 76px;
	height: 76px;
}
.list-card .media{
	padding: 10px;
}
.list-card{
	1padding: 0 10px 10px;
}
.row-btn-s{
	padding: 0px;
}
.list-word p,.list-lined p{
	margin-bottom: 5px;
}
.media-lr p{margin-bottom: 0px;}
.media-lr .media-heading{
	margin-bottom: 0;
}
.media-lr .media-time,.sub-i{
	float: right;
	font-size: 14px;
	color: #666;
}
.list-card .img-md{
	width:100px;
	height:100px;
}
.sum img{
	margin-bottom: 10px;
	width: 100%;
}
.media-img img{
	width: 100%;
	border-radius: 4px;
}
.media-ul .img-block{
	width: 100%;
	margin: 0;
}
.img-block{
	width: 100%;
	margin-bottom: 15px;
}
.media-ul .media-intro{
	padding: 5px;
	border-bottom: solid #ddd 2px;
}
.media-ul .media-body p{
	margin-bottom: 0px;
}
.media-body h5{
	margin-top: -2px;
}
.pic-flow .media-intro p{

}
.cl-info{
	padding: 5px 10px 10px 10px;
}
.cl-info h4{
	color: #428bca;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
}
.cl-info p,.sb-both p{
	margin:0 0 2px; 
}
.cl-info .glyphicon,.sb-both .glyphicon{
	width:16px;
}
.cl-act{
	padding: 0 10px;
	background: #428bca;
	border-bottom: #357ebd solid 2px;
	border-radius: 0 0 4px 4px;
}
.btm-act{
	padding: 0 10px;
	background:#F7741E; /*#1988C7;*/
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;	
	color: #fff;
}
.btm-act a{
	color: #fff;
	height: 30px;
	line-height:30px;
	display:inline-block;
	width: 33%;
	text-align: center;
	text-decoration:none;
}
.btm-act2{
	padding: 0 10px;
	background:rgb(16,178,140); /*#1988C7;*/
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;	
	color: #fff;
    height:30px;
  	line-height:30px !important;
}
.btm-act2 a{
	color: #fff;
	line-height:30px !important;
	display:inline-block;
	width: 46%;
	text-align: center;
	text-decoration:none;
}
.btm-actz{
	padding: 0 10px;
	background:#F7741E; /*#1988C7;*/
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;	
	color: #fff;
}
.btm-actz a{
	color: #fff;
	height: 30px;
	line-height:30px;
	display:inline-block;
    margin-left: 38%;
	text-align: center;
	text-decoration:none;
}
.btm-act3{
	padding: 0 10px;
	background:#F7741E; /*#1988C7;*/
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;	
	color: #fff;
    height: 30px;
  	line-height:30px !important;
}
.btm-act3 a{
	color: #fff;
	height: 30px;
	display:inline-block;
	text-align: center;
	text-decoration:none;
     margin-left: 40%;
  	line-height:30px !important;
}
.i-disable{
	background: #999;
	border-bottom: #666 solid 2px;
}
.cl-act .act-list li{
	color: #fff;
	display: inline-block;
	margin:0 10px 0 0;
	height: 30px;
	line-height: 30px;
}



.cl-act .act-list li a{
	color: #fff;
}
.cl-act .act-list li a:hover{
	color: rgb(230,240,240);
}
.square-btn{
	display:block;
	color: #ffffff;
	background-color: #f0ad4e;
	border-color:#eea236;
	height: 38px;
	line-height: 38px;
	text-align: center;
	border-radius: 4px;
}
.btn-gray {
  color: #ffffff;
  background-color: #999;
  border-color: #ddd;
}
.square-btn:active,
.square-btn.active,
.square-btn:focus,
.square-btn:hover{
	color: #ffffff;
  	background-color: rgb(235,100,0);
  	border-color: #d58512;
}
.user-pic{
	display: block;
	border-radius: 4px;
}
.user-pic-s{
	width: 36px;
	height: 36px;
	border-radius: 4px;
}
.scores{
	font-size: 16px;
	text-align: center;
	width:60px;
	height:60px;
	padding: 5px;
	color: #fff;
	background-color: #5cb85c;
}
.scores .addscore{
	border-bottom: 1px solid #fff;
	padding-bottom: 3px;
	margin-bottom: 3px;
}
.i-top{
	height: 200px;
	position: relative;
	overflow: hidden;
}
.i-img{
	position: absolute;
	margin-top: 50px;
	left: 50%;
	margin-left: -60px;
	border: 0px solid #fff;
	border-radius: 50%;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
.full-img{
	width: 100%;
	margin-bottom: 20px;
}
.inner-img{
	width: 100%;
	margin: 10px 0;
}
.i-bg-b{
	position: absolute;
	right: 5px;
	bottom: 5px;
	color: #fff;
	text-shadow:0 0 2px rgba(0,0,0,0.8);
}
.stack-btn{
	margin-bottom: 15px;
}
/*�������-s*/
.breadcrumb-s {
  padding: 8px 15px;
  margin-bottom:0px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.breadcrumb-s > li {
  display: inline-block;
}
.breadcrumb-s > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #cccccc;
}
.breadcrumb-s > .active {
  color: #999999;
}
/*��������*/
.pop-box-srh{
	position: absolute;
	top: 4px;
	left: 0;
	z-index: 999;
}
.select-pills{
	list-style: none;
}
.select-pills li a{
	display: block;
	text-align: center;
	padding: 8px 12px;
	margin-bottom: 4px;
	border-radius: 4px;
	background: #f1f1f1;
}
.select-pills li a:hover,.select-pills li a:focus{
	text-decoration: none;
	color: #fff;
	background-color: #428bca;
}
/*@����*/
.recipients-tips{
	list-style-type: none;
	position:absolute; 
	background:#fff; 
	z-index:2147483647; 
	padding:2px; 
	border:4px solid #d6dfc0; 
	border-radius: 4px;
	display:none;
	
}
.recipients-tips li{
	list-style: none;
}
.recipients-tips li img{
	margin-right: 5px;
}
/*@����*/
.recipients-tips li a{
	display:block; 
	padding:6px 5px; 
	color:#333; 
	cursor:pointer; 
}
/*@����*/
.recipients-tips li a em{
	font-weight:700; 
	color:#000; 
}

/*@����*/
.autoSelected{
	background:#fdeed4;
}

.p-gray
{
	color: #999;
}

#imggroup
{
	margin-bottom:20px;	
}

#imggroup span
{
	margin:0px 4px 0px 0px;	
	width:50px;
}

#imggroup span img
{
	width:70px;
	border-radius:6px;
}


/*��ǩ��*/
.i-tag {
	display: block;
	float: left;
	width: 18px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	overflow: hidden;
	color: #36c;
}
.i-tag-sub {
	display: block;
	padding-left: 18px;
	color: #999;
}
.time-count {
	margin: 10px 50px 20px;
	text-align: center;
	padding: 5px 10px;
	border-radius: 50px;
	background: rgb(30,126,220);
	color: #fff;
}
.time-count span{
	display: block;
	font:bold 40px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "����B8B\4F53", simsun, sans-serif;
}
.start-btn{
	text-align: center;
}
.start-btn .button-circle{
	font-size: 26px;
}

.w20 {
	width: 20px
}
.h20{
	height:20px !important;
}

.clue{
	margin-top: 20px;
	font-size: 16px;
	line-height: 2em;
	text-align:  center;
}

/*����ͷ���б�*/
.col-48,.col-book-s {
	list-style: none;
	list-style-type: none;
	margin: 0;
}
.col-48 li,.col-book-s li{
	display: inline-block;
	margin: 0 6px 15px 0;
}
.col-48 li img{
	width: 48px;
	height: 48px;
}
.media-lr p{margin-bottom: 0px;}
.media-lr .media-heading{
	margin-bottom: 0;
}
.media-lr .media-time,.sub-i,.sub-t-r{
	float: right;
	font-size: 14px;
	color: #999;
}
.media-lr .book-s{
	width: 100px;
	width: 80px;  /* ����ߴ���ʺ�,by weiis 2014-06-20 */
}

.media-body p{margin-bottom: 10px; font-size:16px;}

/*------------------------------------------------         edit by ����� ��ʼ       -------------------------------------------------*/

#info,#ok {
	background: white;
	margin: 15px;
	border-radius: 4px;
	padding: 10px;
	line-height:180%;
	text-align:left;
}
.p-rule {
	margin-top: 64px;
	text-align: left;
	font-size: 15px;
	line-height: 200%;
}

.power-box
{
	text-align: center;
	padding-bottom: 0px;
	background: white;
	width: 130px;
	margin: 0 auto;
	margin-bottom:20px;
	border-radius: 4px;
	padding: 4px;
	opacity: 0.9;	
}

.red{
	color:red;	
	text-align:center;
	margin:0px 4px;
}

.form-group .select-box {
    display:none;
}

#imgloading {
    position: absolute;
    top: 5px;
    right: 20px;    
}

.thumbnail img{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;	
}

.img48{
	width:48px;
	height:48px;	
}
.img60{
	width:48px;
}

.radius4{
	border-radius:4px;	
}
.btn-abso{
	position: absolute;
	right: 0px;
	top: 20px;	
}
.textleft{
	text-align:left;	
}
.fontbold{
	font-weight:bold;	
}

/*��������*/
.idiom-bg{
	background:#fff url(../images/idiom-bg.jpg) no-repeat center top;
	background-size: 100%;
}
.pull-left{
	margin-right:4px;	
}



/*------------------------------------------------         edit by ����� ����       -------------------------------------------------*/
.media-lr-img {
	display:block;
	height:100px;
	width:80px;
	overflow:hidden;
	text-align:center;
	border-radius:4px;
}
.media-ud-img {
	display:block;
	background-color: #eee;
	1height:120px;
	overflow:hidden;
	text-align:center;
	border-radius:4px 4px 0 0;
}
.media-ud-img img{
	width: 100%;
}
.arrow-right {
	 font-size: 25px;
	 font-weight: bold;
	 margin-left: 12px;
}
.gap-f 
{
	margin-top: 48px;
}

.wordbreak{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;		
}
.circle-border{
	border: 1px solid #eee;
	border-radius: 50%;
	padding: 10px;
}

.egg
{
    width: 660px;
    height: 400px;
    margin: 50px auto 20px auto;
}

.egg ul li
{
    z-index: 999;
}

.eggList
{
	padding-top: 110px;
	position: relative;
	width: 660px;
	list-style:none
}

.eggList li
{
    float: left;
    /*background: url(/images/egg_1.png) no-repeat bottom;*/
	width: 109px;
	height: 187px;
	cursor: pointer;
	position: relative;
	margin-left: -13px;
}

.eggList li span
{
    position: absolute;
    width: 30px;
    height: 60px;
    left: 68px;
    top: 64px;
    color: #ff0;
    font-size: 42px;
    font-weight: bold;
}

.eggList li.curr
{
    /*background: url(/images/egg_2.png) no-repeat bottom;*/
    cursor: default;
    z-index: 300;
}

.eggList li.curr sup
{
    position: absolute;
    background: url(/images/img-4.png) no-repeat;
    width: 232px;
    height: 181px;
    top: -36px;
    left: -58px;
    z-index: 800;
}

.hammer
{
    background: url(/images/img-6.png) no-repeat;
    width: 74px;
    height: 87px;
    position: absolute;
    text-indent: -9999px;
    z-index: 150;
    left: 258px;
    top: 135px;
}

.resultTip
{
    position: absolute;
    background: #ffc;
    width: 106px;
    padding: 6px;
    z-index: 500;
    top: 200px;
    left: 10px;
    color: #f60;
    text-align: center;
    overflow: hidden;
    display: none;
    z-index: 500;
}

.resultTip b
{
    font-size: 14px;
    line-height: 24px;
}
.demo
{
    /*width: 330px;*/
	width:266px;
    height: 330px;
    position: relative;
    margin: 60px auto 0;
}

#disk
{
	 
    width: 335px;
    height: 335px;
   background: url(/images/disk.jpg) no-repeat;
}

#start
{
    width: 116px;
	position: absolute;
	top: 21px;
	left: 78px;
}

#start img
{
    cursor: pointer;
}

.list-txt
{
	list-style:none
}
 .pics
{
    padding: 11px 0px 12px 0px;
    float: left;
}
.uppto
{
    /*            padding: 20px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555555;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin: 15px 0 15px 0px;*/
}
.uppto li
{
    list-style-type: disc;
    list-style-position: inside;
    padding: 4px 0;
    line-height: 1.5em;
}
.forpic
{     
  float:left;  
  position: relative;
  bottom: 15px;
  top: -6px;      
}
.tcolor
{
    color: #888888
}
.timg
{
    margin-top: 13px;
    width:120px;
}

/*��������-Begin*/
.media-ud-img {
	display:block;
	background-color: #eee;
	1height:120px;
	overflow:hidden;
	text-align:center;
	border-radius:4px 4px 0 0;
}
.media-ud-img img{
	width: 100%;
}

.xf-all {
	background: #fff;
	border-radius: 0 0 4px 4px;
}

.time-cl{
	color:#d9d9d9;
}

/* ����ڵ���ɫ */
.overdue{
	background:#999;	
}

/* û�б���ɫ */
.nocolor{
	background:white;	
	padding: 0px;
}
.nocolor a{
	color: #0D8D36;	
	width:49%;
	text-align: left;
}
/*��������-END*/

/*�ҵ���߰�ť�̶�����-Begin BY-������*/
.navbar-top {
	height: 37px;
	padding: 5px 0;
	margin-top:35px;
	border-bottom: 1px solid #c6c0b3;
	line-height:31px;
}

.line-right {
	text-align: center;
	border-right: 1px solid #c6c0b3;
	background:#E1E2DD;
}

.line-right a {
	color: #666 !important;
}

.serach-content {
	padding: 80px 0px 0;
}

.active {
	background-color: #999;
    width:25px;
    height:25px;
    border-radius:3px;
    padding-top:3px;
}

.active a {
	color:rgb(255,255,255) !important;
}
.mobi-li .active{
	background-color:#fff; 
	border-left: 4px solid rgb(30,126,220);
}
.w_price {
	color: #FFA314;
	margin-right:10px;
}
.w_price strong {
	font-size: 21px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*�ҵ���߰�ť�̶�����-END*/
.xx 
{
    border-bottom: dashed gray 1px;
}
.media-lr-imge {
	display:block;
	height:100px;
	width:80px;
	overflow:hidden;
	text-align:center;
	border-radius:4px;
}
 /*hot·�ߵ�ͼ*-start*/
.fontgray a:link 
{
    text-decoration:none;
    color: #999;
}
.sp-green 
{
    color:#5cb85c;
}
.glyphicon-share-alt 
{
    1color:#5cb85c;
}
.listroute li
{
    float:left;
    list-style:none;
    margin-right:13px;
    margin-bottom:13px;
}
.hcolor
{
	color:rgb(30,126,220);
}
 /*hot·�ߵ�ͼ*-end*/

 .hend-rd{
	border-radius:50%; 
	width:48px; 
	height:48px;
}

.media-body .browse-tx{
	color:#999;
	display:inline-block;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	width:100%;
}

.media-body .media-tiem{
	float:right; 
	font-size:15px; 
	margin-top:3px; 
	color:#999;
}

.ui-media .media{
	position: relative;
	padding:0 15px 10px 15px; 
	border-bottom:1px solid #DDD7D7;
}

/*.ui-media li{
	position: relative;
	padding:0 15px 10px 15px; 
	border-bottom:1px solid #DDD7D7;
}*/


.ell{
	text-overflow: ellipsis;
	overflow: hidden;
}
.fontgray a:link 
{
    text-decoration:none;
    color: #999;
}
.sp-green i
{
    color:#5cb85c;
}

.btn-green {
	color: #ffffff;
	background-color: #10B28C;
	border-color:#10B28C
}
.head{
	border: 0px solid #fff;
	border-radius: 50%;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
	width:70px;
	height:70px;
}
.btn-prlv {
	color: #ffffff;
	background-color:  rgb(16,178,140);
	border-color: rgb(74, 190, 149);
}
.btn-prlv:hover, .btn-prlv:focus, .btn-prlv:active, .btn-prlv.active, .open .dropdown-toggle.btn-prlv {
	color: #ffffff;
	background-color: rgb(10, 156, 122);
	border-color: rgb(20, 170, 135);
}

.pub-info-btn-list
{
	text-align:center;
	padding-top:20px;
	overflow:hidden;
}
.pub-info-btn-list li
{
	list-style-type: none;
	width: 47%;
	float: left;
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	font-family: "΢���ź�";
	cursor: pointer;
	background: #357EBD;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
	color: white;
}


/* -------------------------------���� ��ʽ begin------------------------------------- */
/*չ����ҵ�ֲ���*/
.fairarea{margin:10px;border-left:5px solid #E75C4C;}
.fairarea a{color:#000;}
.fairarea p{margin:0;padding:0;}
.pan_area{background-color:#EDEDED;border-top:1px solid #E3E3E3;border-bottom:1px solid #E3E3E3;border-right:1px solid #E3E3E3;font-weight:bold;position:relative; margin:10px 0px; padding:10px 10px;}
.pan_area a{color:#333333;display:inline-block;width:100%;height:100%;}
.company{border-bottom:1px solid #E3E3E3;border-right:1px solid #E3E3E3;padding:10px;color:#323232;background-color:#F7F7F7;}
.company .e-name{color:#9C9C9C;}


#area1{border-color:#F29339;}
#area2{border-color:#E75C4C;}
#area3{border-color:#4BD3A1}
#area4{border-color:#0066D2}
#area5{border-color:#32C7E7}
#area6{border-color:#8871DB}
#area7{border-color:#61c6e6}
#area8{border-color:#eb8080}
#area9{border-color:#248a90}
#area10{border-color:#9c33ee}

/* -------------------------------���� ��ʽ end------------------------------------- */



/* -------------------------------ding ��ʽ begin------------------------------------- */
.divider{
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 20px 0;
}
.text-center img{
	display: block;
	text-align: center;
	margin: 20px auto;
	max-width: 100%;

}
.content-text {
	
}

.block-left{
	padding:0px 10px;
	margin:0 0 20px;
	border-left:7px solid;
}

.block-left p{
	font-weight:bold;
/* 	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width:100%; */
	padding:6px 0;
	margin-bottom:0;
	border-bottom:1px dashed #CED0D1;
}

.col-b1{ border-left-color:#8D44AD;}

.col-b2{ border-left-color:#FF9800;}

.col-b3{ border-left-color:#0E7FB2;}

.col-b4{ border-left-color:#FF362B;}

.col-b5{ border-left-color:#86B21D;}


.top-bar {
	height: 40px;
	line-height: 40px;
	background: #0071BD;
	color: #fff;
	margin-bottom: 10px;
}
.top-bar a {
    color:white;
}
.jd{
	margin-top:25px;
}

.t-c{
	text-align:center;
}

.btn-st{
	width:100%;
}

.icon-mg-make{
	margin-right:0;
}

.bt-mg-l17{
	margin-left:17%;
}

.top-title{
	margin-left:20%;
	margin-bottom:20px;
	background:#e4f2e4;
	padding:10px 0 10px 10px;
	margin-right:15px;
}

.dl-text{
	font-size:16px;
}

.dl-text-fl{
	float:left;
}

bt,dd{
	margin-bottom:10px;
}


.dl-text-ll{
	margin-left:81px;
}

.date-box-w{margin-left:20%;}

.cap-text{
	padding:0 !important;
}

.cap-text p{
	text-align:center;
}

.title-Type{
	height:40px;
	background:#00A2EA;
	margin-top:0px;
}


.title-Type p{
	padding:10px 15px;
	font-size:16px;
	font-weight:bold;
	color:#fff;
}

.format-t1{
	
}

.format-t2{
	border-bottom:1px #F7C936 solid;
	margin-bottom:15px;
}

.Caption-l{
	float:left;
	padding:10px;
	font-weight:bold;
	background:#F7C936;
	margin-bottom:0;
}

.Caption-r{
	float:left;
	margin:0;
	padding:10px 0 0 15px;
	font-size:16px;
	font-weight:bold;
	color:#F7C936;
}

.obo,.media-heading{
	1text-overflow: ellipsis;
	1white-space: nowrap; 
	1overflow: hidden;
}

.upload.blue{
	background:url(../images/upBlue.jpg) repeat-x left top;
	border: 1px solid #2494cb;
	color: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 36px;
}

.blue{
	height:40px;
	cursor: pointer;
	border-radius: 4px;
}



/* -------------------------------ding ��ʽ end------------------------------------- */


.center-img{
	text-align: center;
}
.center-img img{
}
.sigh-bg{
	background-color: rgb(38,195,214);
}
.win-bg{
}
.img100 img{
	width: 100%;
}
.bg-white{
	background-color: #fff;
}
.navbar-fixed-bottom{
	padding: 10px 0;
}
.navbar-fixed-bottom .btn
{
	padding: 6px 0px;	
}
.btn-sqr{
	padding: 15px 0;
	margin-bottom: 10px;
}
.guess-bg{
	background:#56E3F4 url(../images/bg2.png) top center no-repeat;
	background-size: cover;
}
.guess1-bg {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background:url(../running/img/bg-cr.png) bottom center repeat-x;
    background-attachment:fixed;
    background-size: cover;
}
	

.gua-bg{
	background-color: rgb(67,135,184);
}
.gua-area{
}
.gua-area .img100{
	position: absolute;
	z-index: 1;
}
.rule-p{
	background: rgb(66,135,184);
	padding: 30px 30px 20px;
	color: #fff;
}
.media-head-sp{
	margin-bottom:8px;
	margin-top: 0px;
	padding-bottom: 8px;
	border-bottom: 1px solid #ddd;
}
.ga1{
	text-align: center;
	color: #fff;
	background:url(../images/sanbing.png) bottom center repeat-x;
}

.ga1 img{
	width:100%;
	margin-top:10px;
	margin-bottom:10px;
}



.ga1a{
	background:url(../images/guaer-top-bg.png) center bottom no-repeat;
	background-size: contain;
	text-align: center;
	height: 82px; 
	line-height: 82px;
	font-size: 22px;
	color: #fff;
	font-weight: bold;
}
.ga2a{
	background:url(../images/k_reply.gif) top left repeat;
	padding: 30px 30px;
	margin: 0 auto;
	min-height: 300px;
}
.guaer-bg{
	background:url(../images/k_reply.gif) top left repeat;
}
.guaer-list li{
	color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.ga2{
	background:#AB2323;
	padding:20px 15px 15px 15px;
	margin: 0 auto;
}
.ga2a{
	color: #fff;
	background:url(../images/k_reply.gif) top left repeat;
	padding: 20px;
	margin: 0 auto;
}
.ga3{
	font-size: 18px;
	margin: 0 auto;
	height:120px;
	line-height: 60px;
	background-color:#ddd; 
	border: 7px solid #e9eb12;
	text-align: center;
	border-radius: 6px;
}

.myCanvas{
	position: absolute;
	margin:-1px 0 0 -130px;
	z-index: 2;
}
.guaer-more{
	float: right;
	font-weight: normal;
}
.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
border-bottom-width: 2px;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
border: 1px solid #ddd;
}
.table>thead>tr>th {
vertical-align: bottom;
border-bottom: 2px solid #ddd;
}
.ga2 thead tr��.ga2 thead tr td{
	color: #fff;
}
.bangdan{
	margin: 20px 0;
}
/* -------------------------------weijie ��ʽ end------------------------------------- */

.show-word {
	word-break:break-all; 
	word-wrap:break-word;
}

/*�������� BY_ljy*/
#mcover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 20000;
}

#mcover img {
    position: fixed;
    right: 0px;
    top: 5px;
    width: 200px!important;
    height: 150px!important;
    z-index: 20001;
}

#c_list p,.text-indent {
    text-indent:2em;
    text-align:justify;
    text-justify:inter-ideograph;
}


.caitu{
	margin:0 auto;
}

.caitu img{
	width:100%;
}

.tz-p{
	padding: 20px;
	background: rgba(255,255,255,0.7);
}

.bg-img-all{
	text-align:center;
	margin-top:20px;
}

.bg-img-all img{
	width:80%;
	background:#FFF;
	padding:10px;
	border-radius:7px;
}

.hen-y{
	height:10px;
	background:#e9eb12;
}

.tisi-a,.tisi-b{
	color:#fff;
	text-align:center;
	margin-bottom:0;
}

.tisi-a.genduo{
	margin-top:10px;
	font-size:24px;
	font-weight:bold;
}

.tisi-b{
	font-size:18px;
}

.tisi-b span{
	font-size:32px;
	margin:0 5px;
}

.tisi-b.tisi-c{
	font-size: 25px;
	font-weight: bold;
	margin-bottom:25px;
}

.bs-callout-warning {
	border-left-color: #0071BD !important;
}

.bs-callout {
padding: 20px;
margin: 20px 10px;;
border-left-width: 5px;
}


.text-js{
	padding: 10px;
	margin: 10px 6px 0px 10px;
	border-radius:7px;
}


.text-js blockquote{
	border-left: 5px solid #0071BD;
}

.award{
	position: absolute;
	bottom: 15px;
	right: 15px;
	height: 72px;
	width: 72px;
	border-radius: 50%;
	color: white;
	display: block;
	background: url(/images/jiang100.png) center center no-repeat;
	background-size: contain;
	transform:rotate(7deg);
	-ms-transform:rotate(7deg); /* IE 9 */
	-moz-transform:rotate(7deg); /* Firefox */
	-webkit-transform:rotate(7deg); /* Safari �� Chrome */
	-o-transform:rotate(7deg); /* Opera */
}
.pic-area li{
	margin-right: 6px;
}
.lecturer-head {
	height:60px;
	display:block;
	overflow:hidden;
}

.contact-grid-bg {
    background-color:#D9EDF7;
    color:#333
}
#comment-box3 {
    padding: 10px;
    width: 100%;
}

/*��ĩ�� ������ɽ*/
#comment-box2 {
    padding: 10px;
    width: 100%;
    margin-top: 40px;
}

#comment-box2 textarea {
	border: none;
	border-bottom: 1px solid #f8f8f8;
}

#comment-box2 .pic-area {
	width: 100%;
}
#comment-box2 .pic-area li{
	background: #F4F1E2;
}

#comment-box2 .pic-area .pic50 {
    width: 50px;
}

#comment-box2 .pic-area .beclose {
}

    #comment-box2 .pic-area li {
        border: none;
        /*background-color: white;*/
        color: #666;
        padding: 0px;
        width: 50px;
        height: auto;
        margin: 10px 10px 10px 0px;
        float: left;
    }

        #comment-box2 .pic-area li .fimg {
            width: 50px;
            height: 50px;
            border-radius: 6px;
        }

#btn-add-pic {
    cursor: pointer;
}

.upfiles {
    width: 46px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 30px;
    outline: medium none;
    position: relative;
    filter: alpha(opacity=00);
    -moz-opacity: 0.0;
    opacity: 0.0;
    left: -8px;
    top: 46px;
}

.smkh-font-size {
    font-size: 14px;
    margin: 10px 0px 6px 0px;
}

.smkh-img-size {
    width: 30%;
}

.lecturer {
    position: relative;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 8px;
    float: left;
    width: 33.33333333333333%;
}

.m100 {
    min-height: 100px;
}

.ibt-block {
    margin: 10px;
}

.denglu {
    display: block;
    margin-top: 20px;
}

.ts {
    margin-top: 20px;
    background: url(/running/img/gamerules.png) no-repeat;
    background-position: center center;
    height: 251px;
    width: 100%;
}

.denglu img {
    height: 50px;
}

.sm img {
    height: 50px;
}

.ts .ts-text {
    /* background: #eee; */
    height: 200px;
    width: 232px;
    margin: 20px auto 0;
}

.container {
    height: 100%;
}

.ts .ts-top {
    margin-top: 70px;
    display: inline-block;
	text-align:left;
	line-height:200%;
}

.text-l {
    text-align: left;
}

.gap-s {
    margin-top: 20px;
}

.beauty-box {
    position: relative;
}

.top-plan a img {
    height: 45px;
}

td img {

    width: 65px;
}

.no-one {
    text-align: center;
}
.top-plan a img {
height: 45px;
}
.time-all div {
padding: 13px 0px 0px 30px;
font-weight: bold;
color: #fff;
}
.time-all {
width: 116px;
height: 45px;
background: url(/running/img/shijian.png) no-repeat;
}
.no-one-ko {
margin-top: 0px;
}
.time-all-bg {
padding-left: 10%;
}
.no-one-ko img {
height: 60px;
}
.text-r {
text-align: right;
}
td {
height: 80px;
width: 80px;
cursor: pointer;
}
.listnum1 {
border-radius: 50%;
height: 28px;
line-height: 28px;
font-family: "΢���ź�";
width: 28px;
text-align: center;
font-size: 14px;
font-weight: bold;
color: #fff;
background-color: #09f;
display: inline-block;
vertical-align: middle;
margin: -4px 4px 0px 0px;
}
.topic-list {
	font-weight: bold;
	background-color: #fff;
	padding: 15px 5px;
	margin: 0 5px;
}
#lig31, #lig32, #lig33 {
margin: 0px 0px 15px 30px;
}
ul, ol {
margin: 0;
padding: 0;
}
.topic-list ul li {
	line-height: 30px;
	cursor: pointer;
	font-weight: 100;
	list-style: none;
}
.c-flag {
background-image: url(/running/img/choose-empty.png);
height: 23px;
width: 20px;
float: left;
margin: 6px 4px 0px 0px;
vertical-align: middle;
}

.dpactivity {
    padding-left: 10px;
    color: red;
}

.focuson {
	margin-right: 15px;
	font-size: 17px;
}

/*΢��Ը��ʽ��ʼ*/
.xy-2 {
  background: url(/img/wbg.jpg?xid=213) top center repeat;
  padding: 10px 0;
  background-position: fixed;
}
.hd-tit {
  color: #fff;
  font-family: "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "����B8B\4F53", simsun, sans-serif;

}
.text-li{
	color: #999
}

.neirong .mb5{
	color: #000;
}
.Leave-word .head-img {
  float: left;
  margin-right: 10px;
  width: 48px;
  height: 48px;
}
.mb5 {
  margin-bottom: 5px;
}
.Leave-word li {
  border-bottom: 1px solid #f79951;
  padding: 10px 0;
  overflow:hidden;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.Leave-word li span {
  1color: #fff;
  font-family: Verdana, Arial;
}
.icon-B {
  text-decoration: none;
}

.Leave-word li b{
	 padding:0 6px; 
	 font-weight: normal; 
	 color: #ededed;
}
.align-ct {
  text-align:center;
}
.control-group {
  margin-bottom: 10px;
}
.icon120{
	width:120px;
	height:120px;	
}

h4{
}
ul,ol{
	margin: 0;
	padding: 0;
}

.content-wp{
	padding: 0 15px;
}
#wrap > .content-box {
  padding: 40px 0px 0;
}
#wrap > .content{

}
.content-box .form-horizontal .form-group{
	margin-left:0;
	margin-right:0;
}
.loading-s{
	width: 16px !important;
	height: 16px;
	margin:5px 0 0 2px;
}
.top-bar > .col-xs-6 > .btn{
	margin-bottom: 5px;
}
/*bootstrap���
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
*/

img{ width:100%;}
a span img{width:auto}


.mod{
	margin-bottom: 30px;
}
.mod-s{
	margin-bottom: 20px;
}
.mod-xs{
	margin-bottom: 10px;
}
.mod-l{
	margin-bottom: 40px;
}
.mod-xl{
	margin-bottom: 50px;
}
.mr-xs{
	margin-right: 5px;
}
.mr-sm{
	margin-right: 10px;
}
.mr-md{
	margin-right: 15px;
}
body{
	background:#ececec;
}

.Message{
	height:50px;
	background:#2AADC9;
	color:#fff;
	text-align:center;
	line-height:50px;
	font-size:18px;
}

.out-l-pading{
	padding-left:0;
}
.ind-2-l{
	height: 250px;
}
.ind-2-l img{
	height: 100%;
}
.ind-2-r{
	height: 250px;
}
.ind-2-r .in-up{
	height: 140px;
	margin-bottom: 15px;
}
.ind-2-r .in-up img{
	height: 100%;
}
.ind-2-r .in-down{
	height: 95px;
	background: #fff;
	padding:8px;
}
.r-nav{
	margin-bottom:0px;
}

.top-Message{
	background:#fff;
	padding:5px;
}

.top-Message h4,.ind-2-r .in-down h4{
	margin-top:0;
	color:#0071bc;
}

.top-Message p,.ind-2-r .in-down p{
	font-size:11px;
}

.top-Message blockquote,.ind-2-r .in-down blockquote{
	padding:0;
	border:none;
	margin:0;
}
.top-Message small,.ind-2-r .in-down small{
	float:right;
}

.xinxin{
	background:url(../img/xing.png) top left no-repeat;
	}

.fandaj{
	background:url(../img/fandaj.png);
}

.xinxin,.fandaj{
	
	display:inline-block;
	width:20px;
	height:20px;
	margin-right: 5px;
	float:left;
	background-size:contain;
}

/*       ���������Ǻ�     */
/* -----------------------------------------------------------------瀑布流开始-------------------------------------------------------------- */

/* clearfix */
.clearfix { clear:both; }
/* wrapper css */
#wrapper {width:100%; }
#wrapper hgroup { text-align:center; }
#wrapper h2 { margin:5px 0; color:#FF6D99; text-shadow:1px 1px 2px #A50031; font-size:33px; font-family:Arial Narrow, Arial, sans-serif; }
#wrapper h3 { font-style:italic; font-weight:normal; font-size:18px; text-shadow:1px 1px 0 #fff; color:#888; margin:5px 0; }
#container { position:relative; width:100%; 1margin:0 auto 25px; padding-bottom: 10px; overflow:hidden;}
.grid strong { border-bottom:1px solid #ccc; margin:10px 0; display:block; padding:0 0 5px; font-size:17px; }
.grid .meta { text-align:right; color:#777; font-style:italic; }
.grid .imgholder img { max-width:100%; background:#ccc; display:block; }
 @media screen and (max-width : 1240px) {
 body {
 overflow:auto;
}
}
@media screen and (max-width : 900px) {
 #backlinks {
 float:none;
 clear:both;
}
 #backlinks a {
 display:inline-block;
 padding-right:20px;
}
 #wrapper {
 margin-top:0px;
}
}

/* -----------------------------------------------------------------瀑布流结束-------------------------------------------------------------- */
/*活动*/
.active_body
{
    height:100%;
    overflow:hidden;
}
.height100
{
    height:100%;
	
}
.height50
{
    height:50%;
	background:#EBEAF2;
	padding: 10px;
}
 .awrap
{
    height: 100%; background-color: white;
}
.atitle
{
    height: 15%; color: #F99E33;padding: 4%;
}
.aimg
{
    height: 85%; padding: 10px;
}
/**/
/*待付款订单s*/
.order-list
{
    background: #FFF;
    padding: 5px;
    margin: 2px 0;
}

.btn-wxpay
{
    width: 90%;
    display: initial;
    padding-left: 0;
    padding-right: 0;
}
 .order-list h4
{
    font-weight: 600;
}
.order_p_bottom
{
    margin-bottom: 10px;
}
.order_p_auto
{
    margin: auto;
}
/*待付款订单e*/